<%- include("partials/header.ejs") %>
<div class="container new-post">
  <img class="back-img" src="/images/new_post.jpg" alt="" />
  <h1 class="centered"><span>Edit</span> Post</h1>
</div>
<div class="container form">
  <form action="/edit?id=<%= id %>" method="post">
    <label for="title">Blog Title:</label><br />
    <input
      type="text"
      name="title"
      id="title"
      size="50px"
      value="<%= data.title %>"
    /><br />
    <label for="subtitle">Blog Subtitle:</label><br />
    <input
      type="text"
      name="subtitle"
      id="subtitle"
      size="50px"
      value="<%= data.subtitle %>"
    /><br />
    <label for="author">Blog Author:</label><br />
    <input
      type="text"
      name="author"
      id="author"
      size="50px"
      value="<%= data.author %>"
    /><br />
    <label for="subtitle">Blog Image:</label><br />
    <input
      type="text"
      name="image"
      id="image"
      size="50px"
      value="<%= data.image %>"
    /><br />
    <label for="body">Blog Body</label><br />
    <textarea name="body" id="editor1" cols="60" rows="10">
<%= data.body %></textarea
    >
    <input type="submit" value="Save Post" />
  </form>
</div>

<%- include("partials/footer.ejs") %>
